<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Database"
             connectionString="Server=DESKTOP-1G0OJRF\MSSQLSERVER01;Database=testDb;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>