<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="departments" value="НТО-220,НИО-200,НИО-100,НТО-600" />
    </appSettings>
    <connectionStrings>
        <add name="Database"
             connectionString="Server=DESKTOP-1G0OJRF\MSSQLSERVER01;Database=testDb;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>